<ion-header>
  <ion-toolbar color="new3">
    <ion-buttons slot="start">
      <ion-button (click)="logout()" color="dark">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="new">
      <p class="my-header">
        <ion-text color="new2">Insta</ion-text>Report
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-button color="new" size="large" class="custom ion-activated ion-focused" [routerLink]="['/location']">  NEW INCIDENT </ion-button>
      <br>
      <ion-button color="light" size="large" class="custom ion-activated">PREVIOUS REPORT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


