<ion-header>
  <ion-toolbar color="new3">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="new">
      <p class="my-header">
        <ion-text color="new2">Insta</ion-text>Report
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-button color="light" class="custom ion-activated" [routerLink]="['/location', uid]">Incident Location
        </ion-button>
        <ion-button color="new" class="custom ion-activated">Incident Type</ion-button>
        <ion-button color="light" class="custom ion-activated">Details of Incident</ion-button>
        <ion-button color="light" class="custom ion-activated">Report Summary</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="new">
    <h2>What kind of incident are you reporting?</h2>
  </ion-text>

  <!-- Checkboxes in a List -->
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
  <ion-list>
    <ion-item *ngFor="let type of types; let i=index">
        <ion-label>{{ type.value}}</ion-label>
      <ion-checkbox slot="start" (click)="openType(type)" [routerLink]="['/details',uid, lat, long, type.value]"  color="success" [value]="type.value" [checked]="type.checked" (ionChange)="onSelectionChange($event,i)" ></ion-checkbox>
    </ion-item>
  </ion-list>
</form>
  
</ion-content>