<ion-header>
  <ion-toolbar>
    <ion-title color="new">
      <p class="my-header"><ion-text color="new2">Insta</ion-text>Report - Restart</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-restart">
   <ion-list style="text-align:center">
    <img class="image" src="assets/GreenMailSendIcon.png" style="align-items: center" /><br><br>
      <ion-button color="new" size="large" class="custom ion-activated ion-focused" [routerLink]="['/location']">Send another report</ion-button>
      <ion-text color="new2">
        <h2>We've received your report.</h2>
      </ion-text>
      <ion-text color="new">
        <h2>Thanks for reporting!</h2>
      </ion-text>
      <ion-button color="light" size="large" class="custom ion-activated">PREVIOUS REPORTS</ion-button>
  </ion-list>


  
</ion-content>