<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      InstaReport - Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="location-page">
  <ion-button color="new" class="custom ion-activated">Incident Location</ion-button>
  <ion-button color="light" class="custom ion-activated">Incident Type</ion-button>
  <ion-button color="light" class="custom ion-activated">Details of Incident</ion-button>
  <ion-button color="light" class="custom ion-activated">Report Summary</ion-button>

  <ion-text color="new">
    <h2>Where's the incident located?</h2>
  </ion-text>


  <ion-searchbar></ion-searchbar>

  <ion-text color="new">
    <h2>Or</h2>
  </ion-text>

  <div class="nextPage">
    <ion-button color="new" size="large" class="custom ion-activated ion-focused" [routerLink]="['/type']">NEXT</ion-button>
  </div>
  
</ion-content>





