<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title color="new">
      <p class="my-header"><ion-text color="new2">Insta</ion-text>Report - Loging</p>
      </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="loging-page">

  <ion-item>
    <ion-label position="floating" >Email *</ion-label>
    <ion-input maxlength="30" [(ngModel)]="credentials.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password *</ion-label>
    <ion-input type="password" maxlength="8" minlength="4" [(ngModel)]="credentials.password"></ion-input>
  </ion-item>

  <ion-list style="text-align:center">
      <ion-button color="new" size="large" class="custom ion-activated ion-focused" [routerLink]="['/register']">REGISTER</ion-button>
      <br>
      <ion-button color="light" size="large" class="custom ion-activated" (click)="login()">LOG IN</ion-button>
  </ion-list>

</ion-content>