.error-message{
    color: var(--ion-color-danger);
    font-size:14px;
}

.form{
    --background: #ffffff;
}

// ion-input{
//     --background: #ffffff;
//     --color: black;
// }

// ion-item{
//     --background: #ffffff;
//     --color: black;
// }

// ion-label{
//     --background: #ffffff;
//     --color: black;
// }